body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FFEAE3, #FFEAE3);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.images {
    position: relative;
    width: 200px;
    height: 300px;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
    mix-blend-mode:darken; 
}

#stick {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.1s;
}
